{
  "presets": [
    "es2015",
    "react"
  ],
  "plugins": [
    "transform-class-properties",
    "antd"
  ],
  "env": {
    "development": {
      "plugins": [
        "import-asserts"
      ]
    },
    "production": {
      "presets": [
        "react-optimize"
      ]
    }
  }
}
