dj-database-url==0.4.2
Django==1.11
django-extensions==1.8.0
django-filter==1.0.4
djangorestframework==3.6.3
djangorestframework-jwt==1.10.0
gunicorn==19.7.1
py==1.4.33
PyJWT==1.4.2
pytest==3.0.7
pytest-django==3.1.2
six==1.10.0
wheel==0.29.0
